<form>
<section>

    <div class="mat-elevation-z8" id="filtersBar">
        <mat-form-field floatLabel="never" style="width:24em;margin-right:8px;">
            <mat-icon matPrefix>search</mat-icon>
            <mat-icon matSuffix (click)="clearFilter($event)" id="clearFilter" style="cursor: pointer;">clear</mat-icon>
            <input matInput placeholder="Search" name="search"
                matTooltip="Update Ticket"
                (keyup)="af($event)">            
        </mat-form-field>
    </div>
    <table mat-table class="mat-elevation-z8" [dataSource]="ds" matSort (matSortChange)="onSort($event)">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]>Name</th>
            <td mat-cell *matCellDef="let item"> {{item.name.full}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let item">
                {{item.login.username}}<br />{{item.login.password}}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</th>
            <td mat-cell *matCellDef="let item"> {{item.email}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let item"> {{item.location.city}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>DoB</th>
            <td mat-cell *matCellDef="let item"> {{item.dob.date | date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    
</section>
</form>