<section class='parent'>

    <div class='content' contenteditable="">
        Some Content
    </div>

    <div class=''>
        <mat-form-field floatLabel="'always'" class='full-width'>
            <mat-select (selectionChange)="onSelectionChange($event)">
                <mat-option *ngFor="let d of data" [value]="d.value">{{d.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class=''>
        <mat-form-field appearance="outline" floatLabel="'always'" class='full-width m-f-f-no-bottom'>
            <mat-label>Attachment</mat-label>
            <mat-select>
                <mat-option>Filname_07212010.jpg (32,676)</mat-option><mat-option>Filname_07212010.jpg (32,676)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</section>
